* {
  
      margin: 0px;
  
      padding: 0px;
  }
  
  body {
    font-family:'Noto Sans JP',sans-serif;
    background-color:#f6f5f4;
    background: none;
 }
 
 .side {
   background-color:#ff838b;
   text-align:center;
   margin-left: 0px;
     width: 30%;
  
   
 } 
 
 .content {
   background-color:#b3d874;
   height:100%;
   text-align:center;
   width: 70%;
 }
 
 .movie-content {
  background-color:#b3d874;
  width:auto;
  height:auto;
  text-align:center;
}

 .article {
   display:flex;/*サイドバーとメインコンテンツを横並びにする                指定をした*/
 }
 html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


input {
    margin: 20px 0;

}

.btn{

  padding: 4px;
}

.cb{
  padding: 4px;
}




.pagination li {
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border: 1px solid #000099;
    
}


.pagination li a {
  display: block;
  text-decoration: none;
}